@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background: white;
}

h1 {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    font-size: 1.4rem;
    color: #585858;
    background: white;
    border: 1px solid #cdcdcd;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        color: black;
        border-color: #767676;
    }
}

/* Header */

.header {
    background: #ffecef;
    padding: .5rem 2rem;
}

.header__nav {
    max-width: 1100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header__nav-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 1rem;
}

.header__nav-link {
    padding: 1rem 1.2rem;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all .3s;

    &:hover {
        background: white;
        border-color: #c3c3c3;
        cursor: pointer;
    }

    &:last-child {
        /* margin-right: auto; */
    }
}

.header__nav-link::first-letter {
    text-transform: uppercase;
}

.header__home-link {
    font-weight: 800;
}

/* Main */

.main {
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 15rem;
    padding: 0 2rem;
}

.main__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 2rem;
    gap: 0 2rem;
    flex-wrap: wrap;
}

/* Sorting */

.sorting {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.sorting__label {
    font-weight: 600;
}

select {
    padding: .5rem;
    font-size: 1.6rem;
    border: 1px solid #c3c3c3;
}

/* Products */

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
}

.products__item {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0 1rem;
    background: white;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        scale: 1.1;
        border-color: #a7a7a7;

        .add-to-cart-btn {
            background-color: #ffe8ec;
        }
    }
}

.products__item-quantity {
    display: none;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.products__item-quantity-increase,
.products__item-quantity-decrease {
    &:hover {
        cursor: pointer;
        border-color: black;
    }
}

.products__item-quantity-value {

}

.products__item-image {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;

    img {
        max-width: 100%;
        max-height: 200px;
    }
}

.products__item-title {
    max-height: 5rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.products__item-price {
    font-weight: 300;
    font-size: 2.4rem;
    color: #666666;
    padding: .5rem 0 1rem;
}

.products__price-end {
    position: relative;
    left: .1em;
    top: -.4em;
    font-size: .6em;
}

.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: 1px solid #c3c3c3;
    border-radius: 10rem;
}

.in-cart {
    &.products__item {
        border: 2px solid #ffd4dc;
    }
    
    .add-to-cart-btn {
        background: #ffe5ea;
    }
    
    .products__item-quantity {
        display: flex;
    }
}

/* Cart */

.cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: #ffd6dd;
    transition: all .3s, max-height .5s;
    max-height: 7rem;
}

.cart.open {
    max-height: 50rem;

    .cart__content {
        display: flex;
    }
}

.cart__top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart__heading {
    font-weight: 800;
    margin-right: auto;

    .pill {
        margin-left: 1rem;
    }
}

.cart__content {
    display: none;
    margin-top: 1rem;
    gap: 1rem;
    overflow-x: auto;
}

.cart__remove-from-cart-btn {
    background: pink;
    border: 1px solid transparent;
    border-radius: 10rem;
    padding: .5rem 1rem;

    &:hover {
        border-color: black;
    }
}

.cart__item {
    position: relative;
    width: 12rem;
    padding: 1rem;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: .4rem;
}

.cart__item-image {
    font-size: 4rem;
}

.cart__item-title {
    max-width: 100%;
    align-self: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cart__item-price {
    font-weight: 600;
}

.cart__item-quantity {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: pink;
}

.cart__total {
    font-weight: 800;
}

.cart__total-value {
    font-weight: 400;
}

/* Product details dialog */

.product-details {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;
    overflow: auto;
    border: none;
    box-shadow: 0 0 10px #b3b3b3;
}

.product-details__content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.product-details__item {
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.product-details__item-image {
    padding: 2rem;
    width: 50%;
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-details__item-details {
    display: grid;
    gap: 1rem;
}

.product-details__item-title {
    font-weight: 800;
    font-size: 1.8rem;
}
.product-details__item-description {
    font-size: 1.2rem;
}

.product-details__close-btn {
    font-family: inherit;
    font-size: 1.6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &:hover {
        cursor: pointer;
    }
}

/* Pill */

.pill {
    font-size: 1.2rem;
    font-weight: 300;
    background: white;
    border-radius: 10rem;
    padding: .5rem 1rem;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pill__outline {
    border: 1px solid gray;
}

.pill__pink {
    background: pink;
}


/* Mobile responsive */

@media (max-width: 800px) {
    .header__nav {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        gap: 0rem;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 0rem;
        width: 100%;
    }

    .header__nav-link {
        width: 100%;
        text-align: center;
    }

    .header__home-link {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .products {
        margin-bottom: 20rem;
    }

    .cart {
        max-height: 20rem;
        overflow: auto;
    }

    .cart__top {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .cart__heading {
        margin-right: 0;
    }

    .cart__content {
        flex-wrap: wrap;
        max-height: 20rem;
    }
}