@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background: #ffd8df;
}

/* Header */

.header {
    background: pink;
    padding: 2rem;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__nav-list {
    list-style-type: none;
    display: contents;
    margin-right: auto;
}

.header__nav-link {
    padding: 1rem;
    font-weight: 500;

    &:hover {
        background: #ffe6a8;
        border-radius: 4px;
        cursor: pointer;
    }
}

.header__nav-link::first-letter {
    text-transform: uppercase;
}

.header__home-link {
    font-weight: 800;
    margin-right: auto;
}

/* Main */

.main {
    margin: 0 auto;
    max-width: 1100px;
}

/* Products */

.products {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
}

.products__item {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr repeat(4, auto);
    gap: 0 1rem;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        scale: 1.1;
    }
}

.products__item-image {
    padding: 2rem;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;

    img {
        max-width: 100%;
        max-height: 200px;
    }
}

.products__item-title {
    grid-column: 1 / -1;
    max-height: 5rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.products__item-price {
    grid-column: 1 / -1;
    text-align: right;
    font-weight: 600;
    color: green;
    padding: 1rem 0;
}


/* Product details dialog */

.product-details {
    position: relative;
}

.product-details__close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}